<!DOCTYPE html>
<html>
	<head>
		<%- include('./partials/header.ejs')%>
		<meta charset="utf-8" />
		<title></title>
		<nav>
			<a href="/products/new">Add a New Product</a>
		</nav>
	</head>



	<body>
		<h1>Mongoose Store</h1>
		<ul>
			<% product.forEach(product => { %>
            <li>
				<img src="<%=product.img; %>" alt="<%=product.name;%>"><br/>
               <a href="/products/<%=product._id; %>"> <%=product.name; %> </a><br/>
			   <form action="/products/<%=product._id; %>?_method=DELETE" method="POST" style="display:inline;" margin-left:16px;></form> 
					<input type="submit" value="DELETE" />
					<a href="/products/<%=product._id; %>/edit">Edit</a>
            </li>
			<% }) %>
		</ul>
	</body>
</html>